/* You can add global styles to this file, and also import other style files */

$greenColor: #94d263;
$blueColor: #5c9ad3;
$whiteColor: #ffffff;
$infoSectionColor: #f6f6f6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background: linear-gradient(to left, $greenColor, $blueColor);
  color: $whiteColor;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 24px;
  transition: transform 0.4s;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-logout {
  color: tomato;
}

span {
  font-size: 1.3rem;
  color: #5c9ad3;
}

.container {
  background: $whiteColor;
  height: 100vh;
}

.section-info {
  width: 95%;
  padding: 32px;
  margin: auto;
  background: $infoSectionColor;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;

  .section-info-txt {
    width: 50%;

    h2 {
      font-size: 3rem;
      margin-bottom: 16px;
    }

    p {
      line-height: 1.8;
      font-size: 1.2rem;
      margin-bottom: 16px;
    }
  }

  .section-info-image {
    img {
      border-radius: 16px;
      width: 50vh;
    }
  }
}
